<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h2>Tutorial Programs</h2>
    <form class="form-inline" action = "/login" method = "post" >
      <div class="form-group">
        <p>
            Who are you?
        </p>
        <p>
            <input type="text" name = id class="form-control" id="msgForm"> ID
        </p>
        <p>
            <input type="text" name = password class="form-control" id="msgForm"> Password
        </p>
      </div>
      <p>
        <button type="submit" class="btn btn-primary">Login</button>
      </p>
    </form>
  </div>
</body>
</html>
